[Window][Debug##Default]
Pos=60,60
Size=400,400
Collapsed=0

[Window][Scene]
Pos=1040,590
Size=298,176
Collapsed=0

[Window][Inspector]
Pos=12,302
Size=328,377
Collapsed=0

[Window][Hierarchy]
Pos=963,63
Size=320,225
Collapsed=0

[Window][SpaRcle Engine]
Pos=0,0
Size=1366,768
Collapsed=0

[Window][Engine statistics]
Pos=125,57
Size=242,146
Collapsed=0

[Window][Assets]
Pos=389,150
Size=561,310
Collapsed=0

[Window][Evo Script Editor]
Pos=194,155
Size=686,454
Collapsed=0

[Window][World edit]
Pos=971,365
Size=318,236
Collapsed=0

[Window][Settings]
Pos=342,79
Size=300,400
Collapsed=0

[Docking][Data]
DockSpace ID=0x5BE11A68 Window=0x2AF74B1F Pos=0,20 Size=1366,748 CentralNode=1

