Zig.iml
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
.idea
*.blend1
_deps
/cmake-build-release/
/cmake-build-*/*
/build/
/Resources/Cache/
/Resources/Scripts/Libraries/Standard/
/Resources/Scripts/Libraries/
/Resources/Cache
/Platform/Android/.gradle
/Platform/Android/app/build
/Platform/Android/app/.cxx
/Platform/Android/android-sdk
out
.vs
Build
/CMakeSettings.json
/Platform/Android/app/src/main/assets
/Platform/Android/local.properties
.cache/
**/#*#
**/GPATH
**/GRTAGS
**/GTAGS
venv
.venv
/Resources/CMakeLists.txt
/Platform/Android/cmdline-tools.zip
/Platform/Android/app/src/main/jniLibs
/Platform/Android/app/src/main/obj
/CI/scripts/__pycache__
site
/Resources/Engine/Utilities/codegen.exe
/Resources/Engine/Utilities/libclang.dll
/Resources/Engine/Utilities/libclang.so
/Platform/Android/app/codegen.spec
/Engine/appicon.aps
/Platform/Emscripten/emsdk
/Resources/Engine/Utilities/engine-code-structure.pkl
/Resources/Engine/Utilities/codegen
Resources/**/*.so
.flatpak-builder/
/Resources/API
/Platform/Emscripten/codegen.spec
/Platform/Emscripten/ninja.exe
codegen.spec
/Resources/ModuleTests/SRSL/Result
/Platform/Android/app/src/main/res/drawable/ic_launcher_background.xml
