[submodule "Engine/libs/Graphics"]
	path = Engine/libs/Graphics
	url = https://github.com/SpaRcle-Studio/SRRender
[submodule "Engine/libs/Utils"]
	path = Engine/libs/Utils
	url = https://github.com/SpaRcle-Studio/SRCommon
[submodule "Engine/libs/Physics/libs/PhysX"]
	path = Engine/libs/Physics/libs/PhysX
	url = https://github.com/SpaRcle-Studio/PhysX
[submodule "Engine/libs/Physics/libs/box2d"]
	path = Engine/libs/Physics/libs/box2d
	url = https://github.com/SpaRcle-Studio/box2d
[submodule "Engine/libs/Audio/libs/OpenAL"]
	path = Engine/libs/Audio/libs/OpenAL
	url = https://github.com/SpaRcle-Studio/openal-soft
[submodule "Engine/libs/Audio/libs/libmodplug"]
	path = Engine/libs/Audio/libs/libmodplug
	url = https://github.com/SpaRcle-Studio/libmodplug
[submodule "Engine/libs/Audio/libs/minimp3"]
	path = Engine/libs/Audio/libs/minimp3
	url = https://github.com/SpaRcle-Studio/minimp3
