CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
.idea
*.blend1
_deps
/cmake-build-release/
/Resources/Cache/
/Resources/Scripts/Libraries/Standard/
/Resources/Scripts/Libraries/
/Resources/Cache
/Android/.gradle
/Android/app/build
/Android/app/.cxx
out
.vs
Build
/CMakeSettings.json
/Android/app/src/main/assets
/Android/local.properties