[submodule "Engine/Core/Dependences/Framework/Depends/EvoScript"]
	path = Engine/Core/Dependences/Framework/Depends/EvoScript
	url = https://github.com/Monika0000/EvoScript.git
[submodule "Engine/Core/Dependences/Framework/Depends/imgui-node-editor"]
	path = Engine/Core/Dependences/Framework/Depends/imgui-node-editor
	url = https://github.com/Monika0000/imgui-node-editor
[submodule "Engine/Core/Dependences/Framework/Depends/ImGuizmo"]
	path = Engine/Core/Dependences/Framework/Depends/ImGuizmo
	url = https://github.com/Monika0000/ImGuizmo
[submodule "Engine/Core/Dependences/Framework/Depends/EvoVulkan"]
	path = Engine/Core/Dependences/Framework/Depends/EvoVulkan
	url = https://github.com/Monika0000/EvoVulkan
[submodule "Engine/Core/Dependences/Framework/Depends/imgui"]
	path = Engine/Core/Dependences/Framework/Depends/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/Core/Dependences/Framework/Utils/libs/assimp"]
	path = Engine/Core/Dependences/Framework/Utils/libs/assimp
	url = https://github.com/Monika0000/assimp
[submodule "Engine/Core/Dependences/Framework/Utils/libs/nativefiledialog"]
	path = Engine/Core/Dependences/Framework/Utils/libs/nativefiledialog
	url = https://github.com/Monika0000/nativefiledialog-extended
[submodule "Engine/Core/Dependences/Framework/Depends/OpenAL"]
	path = Engine/Core/Dependences/Framework/Depends/OpenAL
	url = https://github.com/kcat/openal-soft
[submodule "Engine/Core/Dependences/Framework/Utils/libs/ffmpeg"]
	path = Engine/Core/Dependences/Framework/Utils/libs/ffmpeg
	url = https://github.com/Monika0000/ffmpeg-cmake
[submodule "Engine/Core/Dependences/Framework/Audio/libs/OpenAL"]
	path = Engine/Core/Dependences/Framework/Audio/libs/OpenAL
	url = https://github.com/kcat/openal-soft
[submodule "Engine/Core/Dependences/Framework/Audio/libs/minimp3"]
	path = Engine/Core/Dependences/Framework/Audio/libs/minimp3
	url = https://github.com/lieff/minimp3
[submodule "Engine/Core/Dependences/Framework/Audio/libs/libmodplug"]
	path = Engine/Core/Dependences/Framework/Audio/libs/libmodplug
	url = https://github.com/Konstanty/libmodplug
[submodule "Engine/Core/Dependences/Framework/Physics/libs/bullet3"]
	path = Engine/Core/Dependences/Framework/Physics/libs/bullet3
	url = https://github.com/bulletphysics/bullet3
