<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monika.sparcle">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="AllowBackup"
        android:extractNativeLibs="true">

        <activity android:name="android.app.NativeActivity"
            android:label="@string/app_name"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="sparcle" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>